* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 20px 150px;
}

.logo {
  color: #f9faf8;
}

#hero-section,
header,
footer {
  background-color: #1f2937;
  color: #e5e7eb;
}

ul {
  display: flex;
  gap: 15px;
  list-style: none;
  margin: 0;
  padding: 0;
}

#hero-section {
  align-items: center;
  display: flex;
}

#information-section {
  text-align: center;
}

#information-section > .wrapper {
  display: flex;
}

.info {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#information-section .img-wrapper {
  border: 2px solid #3882f6;
  height: 100px;
  width: 100px;
}